<!-- esthetic-ignore -->
{%- comment -%}
  if tag exists in site.tags, renders a link to tag, plaintext if not
  uses devicon.html to insert icon if class exists
{% endcomment %}
{%- assign tag = include.item | downcase -%}{%- comment -%}prepare for matching{%- endcomment -%}
{%- assign tag_slug = tag | replace: ' ', '-' -%}
{%- assign display_text = include.display | default: include.item -%}
{%- if site.tags[tag] -%}
  <span class="resume-tag">
    <a
      class="tag resume-tag"
      href="/tags/{{ tag_slug }}">
      {%- comment -%}insert icon if exists{%- endcomment -%}
      {%- include devicon.html name=tag_slug -%}{{ display_text }}</a></span>
{%- else -%}
  <span class="resume-tag">
    {%- comment -%}insert icon if exists{%- endcomment -%}
    {%- include devicon.html name=tag_slug -%}
    {{ display_text }}</span>
{%- endif -%}
